.container00 {
  &.container01 {
    background-image: url(../../images/home/06.jpg);
  }
  &.container02 {
    background-image: url(../../images/home/07.jpg);
  }
  &.container03 {
    background-image: url(../../images/home/02.gif);
  }
  &.container04 {
    background-image: url(../../images/home/08.jpg);
  }
}
.titlePadding {
  padding-top: 200px;
}
.shortTitle {
  width: 550px;
  margin-bottom: 25px;
}
.mediumTitle {
  width: 650px;
  margin-bottom: 25px;
}
.bocchi {
  display: none;
}
@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }
  .mediumTitle,
  .shortTitle {
    width: auto;
    font-size: 50px;
  }
}
@media (max-width: 380px) {
  .mediumTitle,
  .shortTitle {
    width: auto;
    font-size: 40px;
  }
}
